* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(/assest/Images/bodybackground.png);
  background-position: center;
  background-size: cover;
  /* background-color: yellow; */
  background-attachment: fixed;
}

.nav-logo {
height: 60px;
}
.logo a{
  display: flex;
  align-items: center;
}

nav{
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  /* background: #fcfcfc33; */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(255, 255, 255, 0.103); */
background-color: rgb(137, 222, 255);

 }
 nav .navbar{
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  margin: auto;
  margin-right: 100px;
 }
 nav .navbar .logo a{
   color: #fff;
   font-size: 27px;
   font-weight: 600;
   text-decoration: none;

   
 }
 nav .navbar .menu{
   display: flex;
 }
 .navbar .menu li{
   list-style: none;
   margin: 0 15px;
   margin-right: 45px;
 }
 .navbar .menu li a{
   color: black;
   font-size: 1.25rem;
   font-weight: 500;
   text-decoration: none;
   transition: background-color 0.3s ease, color 0.3s ease;
   font-family: "Poppins", sans-serif;
   &:hover {
      color: rgb(0, 17, 255);
      
   }
 }
 .dropdown{
  display: none;
  text-align: center;
 }
ul li:hover .dropdown{
font-size: 5px;
width: 30%;
display: block;
position: absolute;
background-color: rgb(228, 248, 245);
}
.dropdown li{
padding: 3px;
}
#dropdowns{
  width: 15%;
}
.dropdowns hr{
  width: 70%;
}
.dropdown ul{
margin: 0;
padding: 0;
}
.dropdown ul li{
display: block;
}

.dropdown2{
  display: none;
  /* width: 100%; */
}
.dropdown2 li{
  width: 100%;
  background-color: rgb(173, 238, 228);
}

.dropdown ul li:hover .dropdown2{
  display: block;
  position: absolute;
  margin-left: 3.5cm;
  margin-top: -0.87cm;
  background-color: rgb(173, 238, 228);
}

   /* .first-section {
   
   } */

   .background {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assest/Images/background.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 1.5s; /* Delay of 2 seconds before animation starts */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1; /* Fully visible */
    }
  }

   .working-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 200px;
   }

   .hero-content h1 {
    color: rgb(99, 96, 96);
    font-family: "poppins";
    font-weight: 500;
    font-size: 3rem
   }

   .hero-content span {
    font-weight: 700;
    color: rgb(38, 0, 255);
   }
   

   .container {
    height: 280px;
    width: 400px;
    color: black;
    /* margin-right: 200px; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: "poppins";
    padding: 12px;
    font-size: 21px;
}

.line-img img {
  height: 10px;
  width: auto;
  margin-top: 30px;
}


.button-56 {
  margin-top: 10px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "poppins";
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
              

/* Second section  */

.second-section {
  /* background-color: #000000; */
  height: auto;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 65px;
}

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  color: black;
  font-family: "poppins";
  line-height: 25px;
}

.about-content h1 {
  font-size: 2rem;
  /* text-align: center; */
  margin-bottom: 10px
}



.about-img img {
  height: 400px;
}

.readmore-btn {
  margin-top: 20px;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff05;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.what-we-do {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  height: auto;
  background-color: rgb(204, 229, 240);
  padding: 20px;
  border-radius: 20px;
}

.what-we-do .main-icon i {
  color: black;
  font-size: 2rem;
}

.main-icon {
  text-align: center;
  width: 14%;
}

.main-icon p {
  margin-top: 10px;
  color: black;
  font-family: "poppins";
}

/* section 3 */

.third-section {
  height: 100vh;
  width: 100%;
  margin-bottom: 280px;
}

.button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #c843cd;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.service-top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 30px;
}

.service-top-box h2 {
  color: gray;
  font-family: "poppins";
  font-size: 1.5rem;
}


/* contact us form  */
.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: ; */
}
.contact img{
  height: 450px;
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
}
.contact h3{
  width: 80%;
  margin: 20px;
  margin-left: 50px;
}

form{
  width: 50%;
  margin-right: 100px;
}
form .container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
form div,input,textarea{
  width: 100%;
}
form div{
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
}
form h1{
  text-align: center;
}

form label,input,textarea{
  font-weight: 700;
  padding: 1.75%;
  border-radius: 8px;
}
form button{
  width: 100%;
  padding: 1.75%;
  margin-top: 20px;
  background-color: blue;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  font-size: 20px;
}

/* scroll bar  */

body::-webkit-scrollbar {
  width: 0.50rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 140);
  /* outline: 1px solid slategrey; */
}



/* About us css style sheet  */

.service-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}



.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.card img {
  width: 100%;
  height:250px;
  transition: transform 0.3s ease;
}
.card img.zoom-hover {
  transition: transform 0.3s ease;
}
.card img.zoom-hover:hover {
  transform: scale(1.1);
}


.card-content {
  padding: 20px;
}
.card-content h3 {
  font-size: 18px;
  color: #333;
  margin: 0 0 10px;
}
.card-content .underline {
  width: 50px;
  height: 3px;
  background-color: #f1c40f;
  margin: 0 auto 10px;
}
.card-content a {
  color: #1abc9c;
  text-decoration: none;
  font-size: 14px;
}
.card-content a i {
  margin-left: 5px;
} 




